@model IEnumerable<DiplomApplication.Models.Order>
@{
    ViewBag.Title = "Список документів";
}
<body class="skin-3">
    <style>

        * {
            font-family: "Open Sans";
        }

        h1, h2, h3, h4, h5 {
            font-family: "Open Sans";
        }
    </style>
    <div id="navbar" class="navbar navbar-default navbar-collapse navbar-fixed-top noprint"><div id="navbar-container" class="navbar-container"><button id="menu-toggler" type="button" class="navbar-toggle menu-toggler pull-left hidden-lg hidden-md" data-target="#sidebar"><span class="sr-only">Toggle sidebar</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><div class="navbar-header"><a href="~/Home/Index" class="navbar-brand"><span class="smaller-75"> Документообіг </span></a><button type="button" class="navbar-toggle navbar-toggle collapsed pull-right hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target=".navbar-buttons,.navbar-menu"><span class="sr-only">Toggle user menu</span><i class="ace-icon fa fa-user fa-2x white"></i> </button></div><div class="navbar-buttons navbar-header navbar-collapse collapse"><ul class="nav ace-nav"><li class="hidden-sm hidden-xs">  @if (User.IsInRole("office")) { <div class="btn-group btn-corner padding-right-8 padding-left-8"><a class="btn btn-primary btn-sm" href="~/Home/Add"><i class="fa fa-edit"></i> Додати документ </a></div>}</li><li class="grey"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i class="ace-icon fa fa-user fa-2x white"></i> <span class="user-info">@User.Identity.Name</span><i class="ace-icon fa fa-angle-down"></i></a><ul class="user-menu dropdown-menu dropdown-menu-right dropdown-yellow dropdown-caret dropdown-close"><li><a href="~/Account/Config"><i class="ace-icon fa fa-user"> </i> Керування</a></li><li class="divider"></li><li><a href="~/Home/Logoff"><i class="ace-icon fa fa-sign-out"> </i> Вихід</a></li></ul></li></ul></div></div></div><div class="main-container" id="main-container" style="padding-top: 45px;">
        <div id="sidebar" class="sidebar sidebar-fixed responsive compact ">
            <ul class="nav nav-list">
                <li>
                    <a href="~/Home/Index">
                        <i class="menu-icon fa fa-dashboard"></i>
                        <span class="menu-text"> Головна </span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="active">
                    <a href="~/Home/DocList">
                        <i class="menu-icon fa fa-list-alt"></i>
                        <span class="menu-text"> Список документів </span>
                    </a>
                    <b class="arrow"></b>
                </li>
              @if (User.IsInRole("office"))
              {
                <li>
                    <a href="~/Home/Add">
                        <i class="menu-icon fa fa-edit"></i>
                        <span class="menu-text"> Додати документ </span>
                    </a>
                    <b class="arrow"></b>
                </li>}
                <li>
                    <a href="~/Account/Config">
                        <i class="menu-icon fa fa-gears"></i>
                        <span class="menu-text"> Керування </span>
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul><div class="sidebar-toggle sidebar-collapse"><i data-icon2="ace-icon fa fa-angle-double-right" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-left"></i></div>
        </div><div class="main-content">
            <div id="breadcrumbs" class="breadcrumbs noprint">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-user home-icon active"></i>  <a>@User.Identity.Name</a>
                        <span class="label hidden-xs label-default arrowed">Користувач</span>
                    </li>
                </ul>
            </div>
            <div class="page-content">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <!--<div class="space-10"></div>-->
                        <form id="bug_action" method="post" action="bug_actiongroup_page.php">
                            <div class="widget-box widget-color-blue2">
                                <div class="widget-header widget-header-small">
                                    <h4 class="widget-title lighter">
                                        <i class="ace-icon fa fa-columns"></i>
                                        Список документів
                                    </h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main no-padding">
                                        <div class="table-responsive">
                                            <table id="buglist" class="table table-bordered table-condensed table-hover table-striped">
                                                <thead>
                                                    <tr class="buglist-headers">
                                                          @if (User.IsInRole("office")) { 
                                                        <th class="column-selection"> &nbsp; </th>
                                                        <th class="column-edit"> &nbsp; </th>}
                                                        <th class="column-priority"><a>Пріорітет</a></th>
                                                        <th class="column-id"><a>Номер</a></th>
                                                        <th class="column-last-modified"><a>Дата отримання</a>&nbsp;<!--<i class="fa fa-caret-down fa-lg blue"></i>--></th>
                                                        <th class="column-category"><a>Назва документу</a></th>
                                                        <th class="column-last-modified"><a>Дата відправки</a>&nbsp;<!--<i class="fa fa-caret-down fa-lg blue"></i>--></th>
                                                        <th class="column-bugnotes-count"> <i class="fa fa-comments blue" title="Адресат"></i> </th>
                                                        <th class="column-attachments"><i class="fa fa-paperclip blue" title="Документ"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                 {
                                                @*<tr>
                                                    <td class="column-selection"><div class="checkbox no-padding no-margin"><label><input type="checkbox" name="bug_arr[]" value="8" class="ace"><span class="lbl"></span></label></div></td>
                                                    <td class="column-edit"><a href="bug_update_page.php?bug_id=8"><i class="fa fa-pencil bigger-130 padding-2 grey" title="Изменить"></i></a></td>
                                                    <td class="column-priority"> <i class="fa fa-exclamation-triangle fa-lg red" title="неотложный"></i></td>
                                                    <td class="column-id"><a>0000008</a></td>
                                                    <td class="column-bugnotes-count">&nbsp;</td>
                                                    <td class="column-attachments"> &nbsp; </td>
                                                    <td class="column-category"><div class="align-left">Общая</div></td>
                                                    <td class="column-severity">малое</td>
                                                    <td class="column-status"><div class="align-left"><i class="fa fa-square fa-status-box status-10-color"></i> <span title="открыта">новая</span></div></td>
                                                    <td class="column-last-modified">2018-05-09</td>
                                                    <td class="column-summary">Неотложный</td>
                                                </tr>*@
                                                <tr>
                                                      @if (User.IsInRole("office")) { 
                                                    <td class="column-selection"><a href="~/Home/Delete/@item.OrderId"><i class="fa fa-trash bigger-130 padding-2 grey" title="Видалити"></i></a></td>
                                                    <td class="column-edit"><a href="~/Home/Edit/@item.OrderId"><i class="fa fa-pencil bigger-130 padding-2 grey" title="Редагувати"></i></a></td>}
                                                    <td class="column-priority">@if (item.PriorityId == 2) { <i class="fa fa-chevron-down fa-lg green" title="Низький" />}
                                                                                @if (item.PriorityId == 3) { <i class="fa fa-minus fa-lg orange2" title="Звичайний" />}
                                                                                @if (item.PriorityId == 4) { <i class="fa fa-chevron-up fa-lg red" title="Високий" />}
                                                                                @if (item.PriorityId == 5) { <i class="fa fa-arrow-up fa-lg red" title="Терміновий" />}
                                                                                @if (item.PriorityId == 6) { <i class="fa fa-exclamation-triangle fa-lg red" title="Невідкладний" />}
                                                    </td>
                                                    <td class="column-id">@item.OrderNumber</td>
                                                    <td class="column-last-modified">@item.OrderDate.ToString("dd.MM.yyyy")</td>
                                                    <td class="column-category"><div class="align-left">@item.OrderName</div></td>
                                                    <td class="column-last-modified">@item.OrderOut.ToString("dd.MM.yyyy")</td>
                                                    <td class="column-bugnotes-count">&nbsp;@Html.DisplayFor(modelItem => item.User.UserName)</td>
                                                    <td class="column-attachments"><a href="~/Home/Download/@item.FileId">@Html.DisplayFor(modelItem => item.File.FileName)</a></td>
                                                </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="widget-toolbox padding-8 clearfix">
                                            <div class="form-inline pull-left">
                                                &nbsp;
                                            </div>
                                            <div class="btn-group pull-right">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
</body>